In [ ]:
import pandas as pd
import numpy as np

length = pd.read_csv('/content/global_wolves.csv')
length

,Victims,Date,Type of attack,Address,Notes,Integer
0,"Martino Raineri, male",17-Jan-22,Unprovoked,"Between Malga Seconda Posta and Forte Cherle, ...","Seven wolves killed a man's dog, who was skiin...",8681.0
1,"Stanley Russ, 72, male",29-May-20,Unprovoked,"Port Edward, British Columbia, Canada",A wolf attacked a man and bit his legs and arm.,NaN
2,Vlastimil Vejrosta and his wife,"April 30, 2020",Predatory,"Bo?anov, Czech Republic",Three wolves attempted to surround a couple ne...,5862.0
3,"Timur Makhametov, 23, male",30-Dec-19,Predatory,"Ketpen Village, Uighur District, Almaty Region...",A wolf attacked a young man who was getting wa...,3452.0
4,"Unknown, adult, male",12-Dec-19,Rabid,"Tariat District, Arkhangai Province, Mongolia",A wolf bit a shepherd's hand outside his home.,418.0
...,...,...,...,...,...,...
457,"Anna Maria, 9, female","March, 1705",Predatory,"Gorla Maggiore, Northern Italy.",A wolf or wolves were believed to have killed ...,13352.0
458,16 people,1704,Predatory,"Varesotto, Northern Italy.",NaN,28032.0
459,"Unknown girl, age unknown, female",1650,Predatory,"Holzhausen near Langenpreising, Germany",A girl on the way from the Myrtenhof to Holzha...,43620.0
460,40+ Parisians,1439,Predatory,"Paris, France","During a harsh winter, a large pack of starvin...",23751.0
461,"Radegund von Wellenburg, age unknown, female","July 18, 1340",Unprovoked,"Bergheim near Augsburg, Germany, Germany",Radegund was a maid at the castle of Wellenbur...,2732.0

In [ ]:
length.count()

Victims           461
Date              448
Type of attack    432
Address           454
Notes             386
Integer           428
dtype: int64

In [ ]:
length_missing = length.isna()
length_missing.head()

   Victims   Date  Type of attack  Address  Notes  Integer
0    False  False           False    False  False    False
1    False  False           False    False  False     True
2    False  False           False    False  False    False
3    False  False           False    False  False    False
4    False  False           False    False  False    False

In [ ]:
length_missing.dtypes

Victims           bool
Date              bool
Type of attack    bool
Address           bool
Notes             bool
Integer           bool
dtype: object

In [ ]:
# sum
length_num_missing = length_missing.sum()
B=length_num_missing
A=len(length)
print(B/A)

Victims           0.002165
Date              0.030303
Type of attack    0.064935
Address           0.017316
Notes             0.164502
Integer           0.073593
dtype: float64

In [ ]:
# mean
length_missing.head()
length_missing.mean()
length.isna().mean()

Victims           0.002165
Date              0.030303
Type of attack    0.064935
Address           0.017316
Notes             0.164502
Integer           0.073593
dtype: float64

In [ ]:
# column less than 15%
length.drop(length.columns[length.isnull().mean()>0.15],axis=1)

,Victims,Date,Type of attack,Address,Integer
0,"Martino Raineri, male",17-Jan-22,Unprovoked,"Between Malga Seconda Posta and Forte Cherle, ...",8681.0
1,"Stanley Russ, 72, male",29-May-20,Unprovoked,"Port Edward, British Columbia, Canada",NaN
2,Vlastimil Vejrosta and his wife,"April 30, 2020",Predatory,"Bo?anov, Czech Republic",5862.0
3,"Timur Makhametov, 23, male",30-Dec-19,Predatory,"Ketpen Village, Uighur District, Almaty Region...",3452.0
4,"Unknown, adult, male",12-Dec-19,Rabid,"Tariat District, Arkhangai Province, Mongolia",418.0
...,...,...,...,...,...
457,"Anna Maria, 9, female","March, 1705",Predatory,"Gorla Maggiore, Northern Italy.",13352.0
458,16 people,1704,Predatory,"Varesotto, Northern Italy.",28032.0
459,"Unknown girl, age unknown, female",1650,Predatory,"Holzhausen near Langenpreising, Germany",43620.0
460,40+ Parisians,1439,Predatory,"Paris, France",23751.0
461,"Radegund von Wellenburg, age unknown, female","July 18, 1340",Unprovoked,"Bergheim near Augsburg, Germany, Germany",2732.0

In [ ]:
# all row with missing value
length.tail(3)
length.dropna()

,Victims,Date,Type of attack,Address,Notes,Integer
0,"Martino Raineri, male",17-Jan-22,Unprovoked,"Between Malga Seconda Posta and Forte Cherle, ...","Seven wolves killed a man's dog, who was skiin...",8681.0
2,Vlastimil Vejrosta and his wife,"April 30, 2020",Predatory,"Bo?anov, Czech Republic",Three wolves attempted to surround a couple ne...,5862.0
3,"Timur Makhametov, 23, male",30-Dec-19,Predatory,"Ketpen Village, Uighur District, Almaty Region...",A wolf attacked a young man who was getting wa...,3452.0
4,"Unknown, adult, male",12-Dec-19,Rabid,"Tariat District, Arkhangai Province, Mongolia",A wolf bit a shepherd's hand outside his home.,418.0
5,"Vladislav Lomako, 56, male",8-Dec-19,Rabid,"Khotovo Village, Stowbtsy City, Stowbtsy Distr...",A wolf seriously injured a man at a bus stop n...,7541.0
...,...,...,...,...,...,...
456,"Maria Campascina, 65, female","August 28, 1705",Predatory,"Reba?, Gorla Maggiore, Northern Italy.",A wolf or wolves were believed to have killed ...,21594.0
457,"Anna Maria, 9, female","March, 1705",Predatory,"Gorla Maggiore, Northern Italy.",A wolf or wolves were believed to have killed ...,13352.0
459,"Unknown girl, age unknown, female",1650,Predatory,"Holzhausen near Langenpreising, Germany",A girl on the way from the Myrtenhof to Holzha...,43620.0
460,40+ Parisians,1439,Predatory,"Paris, France","During a harsh winter, a large pack of starvin...",23751.0
461,"Radegund von Wellenburg, age unknown, female","July 18, 1340",Unprovoked,"Bergheim near Augsburg, Germany, Germany",Radegund was a maid at the castle of Wellenbur...,2732.0

In [ ]:
new_length = length.fillna({
          'Date': 2002,
          'Type of attack' : 'Predatory',
          'Integer' : 2500,
          'Victims' : 'Several',
          'Address' : 'U.S.A',
          'Notes'  : 'Wolf Attack',
})
new_length

,Victims,Date,Type of attack,Address,Notes,Integer
0,"Martino Raineri, male",17-Jan-22,Unprovoked,"Between Malga Seconda Posta and Forte Cherle, ...","Seven wolves killed a man's dog, who was skiin...",8681.0
1,"Stanley Russ, 72, male",29-May-20,Unprovoked,"Port Edward, British Columbia, Canada",A wolf attacked a man and bit his legs and arm.,2500.0
2,Vlastimil Vejrosta and his wife,"April 30, 2020",Predatory,"Bo?anov, Czech Republic",Three wolves attempted to surround a couple ne...,5862.0
3,"Timur Makhametov, 23, male",30-Dec-19,Predatory,"Ketpen Village, Uighur District, Almaty Region...",A wolf attacked a young man who was getting wa...,3452.0
4,"Unknown, adult, male",12-Dec-19,Rabid,"Tariat District, Arkhangai Province, Mongolia",A wolf bit a shepherd's hand outside his home.,418.0
...,...,...,...,...,...,...
457,"Anna Maria, 9, female","March, 1705",Predatory,"Gorla Maggiore, Northern Italy.",A wolf or wolves were believed to have killed ...,13352.0
458,16 people,1704,Predatory,"Varesotto, Northern Italy.",Wolf Attack,28032.0
459,"Unknown girl, age unknown, female",1650,Predatory,"Holzhausen near Langenpreising, Germany",A girl on the way from the Myrtenhof to Holzha...,43620.0
460,40+ Parisians,1439,Predatory,"Paris, France","During a harsh winter, a large pack of starvin...",23751.0
461,"Radegund von Wellenburg, age unknown, female","July 18, 1340",Unprovoked,"Bergheim near Augsburg, Germany, Germany",Radegund was a maid at the castle of Wellenbur...,2732.0

In [ ]:
df_length = length.fillna(value=length['Integer'].mean())
df_length

,Victims,Date,Type of attack,Address,Notes,Integer
0,"Martino Raineri, male",17-Jan-22,Unprovoked,"Between Malga Seconda Posta and Forte Cherle, ...","Seven wolves killed a man's dog, who was skiin...",8681.000000
1,"Stanley Russ, 72, male",29-May-20,Unprovoked,"Port Edward, British Columbia, Canada",A wolf attacked a man and bit his legs and arm.,23236.936916
2,Vlastimil Vejrosta and his wife,"April 30, 2020",Predatory,"Bo?anov, Czech Republic",Three wolves attempted to surround a couple ne...,5862.000000
3,"Timur Makhametov, 23, male",30-Dec-19,Predatory,"Ketpen Village, Uighur District, Almaty Region...",A wolf attacked a young man who was getting wa...,3452.000000
4,"Unknown, adult, male",12-Dec-19,Rabid,"Tariat District, Arkhangai Province, Mongolia",A wolf bit a shepherd's hand outside his home.,418.000000
...,...,...,...,...,...,...
457,"Anna Maria, 9, female","March, 1705",Predatory,"Gorla Maggiore, Northern Italy.",A wolf or wolves were believed to have killed ...,13352.000000
458,16 people,1704,Predatory,"Varesotto, Northern Italy.",23236.936916,28032.000000
459,"Unknown girl, age unknown, female",1650,Predatory,"Holzhausen near Langenpreising, Germany",A girl on the way from the Myrtenhof to Holzha...,43620.000000
460,40+ Parisians,1439,Predatory,"Paris, France","During a harsh winter, a large pack of starvin...",23751.000000
461,"Radegund von Wellenburg, age unknown, female","July 18, 1340",Unprovoked,"Bergheim near Augsburg, Germany, Germany",Radegund was a maid at the castle of Wellenbur...,2732.000000

In [ ]:
df_length = length.fillna(value=length['Integer'].max())
df_length

,Victims,Date,Type of attack,Address,Notes,Integer
0,"Martino Raineri, male",17-Jan-22,Unprovoked,"Between Malga Seconda Posta and Forte Cherle, ...","Seven wolves killed a man's dog, who was skiin...",8681.0
1,"Stanley Russ, 72, male",29-May-20,Unprovoked,"Port Edward, British Columbia, Canada",A wolf attacked a man and bit his legs and arm.,49949.0
2,Vlastimil Vejrosta and his wife,"April 30, 2020",Predatory,"Bo?anov, Czech Republic",Three wolves attempted to surround a couple ne...,5862.0
3,"Timur Makhametov, 23, male",30-Dec-19,Predatory,"Ketpen Village, Uighur District, Almaty Region...",A wolf attacked a young man who was getting wa...,3452.0
4,"Unknown, adult, male",12-Dec-19,Rabid,"Tariat District, Arkhangai Province, Mongolia",A wolf bit a shepherd's hand outside his home.,418.0
...,...,...,...,...,...,...
457,"Anna Maria, 9, female","March, 1705",Predatory,"Gorla Maggiore, Northern Italy.",A wolf or wolves were believed to have killed ...,13352.0
458,16 people,1704,Predatory,"Varesotto, Northern Italy.",49949.0,28032.0
459,"Unknown girl, age unknown, female",1650,Predatory,"Holzhausen near Langenpreising, Germany",A girl on the way from the Myrtenhof to Holzha...,43620.0
460,40+ Parisians,1439,Predatory,"Paris, France","During a harsh winter, a large pack of starvin...",23751.0
461,"Radegund von Wellenburg, age unknown, female","July 18, 1340",Unprovoked,"Bergheim near Augsburg, Germany, Germany",Radegund was a maid at the castle of Wellenbur...,2732.0

In [ ]:
df_length = length.fillna(value=length['Integer'].min())
df_length

,Victims,Date,Type of attack,Address,Notes,Integer
0,"Martino Raineri, male",17-Jan-22,Unprovoked,"Between Malga Seconda Posta and Forte Cherle, ...","Seven wolves killed a man's dog, who was skiin...",8681.0
1,"Stanley Russ, 72, male",29-May-20,Unprovoked,"Port Edward, British Columbia, Canada",A wolf attacked a man and bit his legs and arm.,65.0
2,Vlastimil Vejrosta and his wife,"April 30, 2020",Predatory,"Bo?anov, Czech Republic",Three wolves attempted to surround a couple ne...,5862.0
3,"Timur Makhametov, 23, male",30-Dec-19,Predatory,"Ketpen Village, Uighur District, Almaty Region...",A wolf attacked a young man who was getting wa...,3452.0
4,"Unknown, adult, male",12-Dec-19,Rabid,"Tariat District, Arkhangai Province, Mongolia",A wolf bit a shepherd's hand outside his home.,418.0
...,...,...,...,...,...,...
457,"Anna Maria, 9, female","March, 1705",Predatory,"Gorla Maggiore, Northern Italy.",A wolf or wolves were believed to have killed ...,13352.0
458,16 people,1704,Predatory,"Varesotto, Northern Italy.",65.0,28032.0
459,"Unknown girl, age unknown, female",1650,Predatory,"Holzhausen near Langenpreising, Germany",A girl on the way from the Myrtenhof to Holzha...,43620.0
460,40+ Parisians,1439,Predatory,"Paris, France","During a harsh winter, a large pack of starvin...",23751.0
461,"Radegund von Wellenburg, age unknown, female","July 18, 1340",Unprovoked,"Bergheim near Augsburg, Germany, Germany",Radegund was a maid at the castle of Wellenbur...,2732.0